<mat-tab-group>
    <mat-tab label="Int to bin">
        <div class="tab-content">
            <mat-form-field>
                <input matInput type="number" placeholder="Integer to bin" [(ngModel)]="intToBin" autofocus>
            </mat-form-field>
            <button mat-button *ngIf="intToBin" matSuffix mat-icon-button aria-label="Clear"
                    (click)="intToBin=''">
                <mat-icon>close</mat-icon>
            </button>
            <br>
            <button mat-raised-button color="primary" (click)="convertIntTobin()">To bin</button>
            <div>
                <p>
                    <button mat-button matSuffix *ngIf="binInt.length > 0" mat-icon-button aria-label="Clear"
                            matTooltip="Clear"
                            (click)="binInt=[]">
                        <mat-icon>close</mat-icon>
                    </button>
                    Binary Results:
                </p>
                <table *ngIf="binInt.length > 0" class="result-table">

                    <tr *ngFor="let r of binInt">
                        <td>{{r.from}}:&emsp;</td>
                        <td>
                            {{r.to}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="String to bin">
        <div class="tab-content">
            <mat-form-field>
                <input matInput placeholder="String to bin" [(ngModel)]="strToBin" autofocus>
            </mat-form-field>
            <button mat-button *ngIf="strToBin" matSuffix mat-icon-button aria-label="Clear"
                    (click)="strToBin=''">
                <mat-icon>close</mat-icon>
            </button>
            <br>
            <button mat-raised-button color="primary" (click)="convertStrToBin()">To bin</button>
            <div>
                <p>
                    <button mat-button matSuffix *ngIf="strBin.length > 0" mat-icon-button aria-label="Clear"
                            matTooltip="Clear"
                            (click)="strBin=[]">
                        <mat-icon>close</mat-icon>
                    </button>
                    Binary Results:
                </p>
                <table *ngIf="strBin.length > 0" class="result-table">

                    <tr *ngFor="let r of strBin">
                        <td>{{r.from}}:&emsp;</td>
                        <td>
                            {{r.to}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>